//GLOBAL STYLES STARTS HERE
html {
    font-size: 125%;
}
ul, 
li,
h1, 
h2,
h3, 
h4,
h5, 
h6,
figure,
p,
span,
a {
    padding: 0;
    margin: 0;
}
img {
    display: block;
    width: 100%;
}
a {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
//GLOBAL STYLES ENDS HERE