//HEADER STYLES STARTS HERE
.header {
    background: $black;
    color: $white;
    padding-top: 20px;
    min-height: 100vh;
    &__navList {
        @include fontHeaderSize(1rem);
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        z-index: 20;
        position: fixed;
        top: 25%;
        right: 0;
    }
    &__navItem {
        width: 100%;
    }
    &__link {
        border-bottom: 2px solid $white;
        margin: 20px 0;
        padding: 5px;
        background: $black;
        display: flex;
        letter-spacing: 2px;
        justify-content: space-between;
        position: relative;
        right: -150px;
        color: $white;
        text-transform: uppercase;
        transition: right 0.5s ease-in-out, color 0.3s ease-in-out;
        &:hover,
        &:focus {
            color: $tertiaryColour;
        }
        &:hover {
            right: 0;
        }
        &:focus {
            position: initial;
            outline: none;
        }
    }
    &__linkText {
        padding-left: 20px;
    }
    &__content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
    }
    &__name {
        @include fontHeaderSize(2rem);
        letter-spacing: 5px;
        @include res960 {
            font-size: 1.6rem;
        }
        @include res730 {
            font-size: 1.2rem;
        }
        @include res600 {
            font-size: 1rem;
        }
        @include res535 {
            font-size: 1.3rem;
        }   
    }
    &__name::before {
        content: 'vincent dang';
        text-transform: uppercase;
        position: absolute;
        color: rgba(255,255,255,0.1);
        font-size: 2.5rem;
        z-index: -1;
        top: 31%;
        left: 50%;
        transform: translate(-50%, -31%);
        @include res960 {
            font-size: 1.8rem;
            top: 33%;
            transform: translate(-50%, -33%);
        }
        @include res730 {
            font-size: 1.4rem;
            top: 34%;
            transform: translate(-50%, -34%);
        }
        @include res600 {
            font-size: 1.2rem;
            top: 34%;
            transform: translate(-50%, -34%);
        }
        @include res535 {
            display: none;
        }
    }
    &__description {
        @include fontBaseSize(1rem);
        color: rgba(255,255,255,0.5);
        @include res960 {
            font-size: 0.8rem;
        }
    }
    &__scrollLink {
        color: $white;
        font-size: 1rem;
        margin-top: 100px;
        letter-spacing: 5px;
        position: relative;
        padding: 20px 15px 20px 20px;
        border: 1px solid rgba(255,255,255,0.5);
        @include res730 {
            font-size: 0.8rem;
        }
        //  border transition effect obtained from https://webdevtrick.com/css-border-transition-effects/
        &::before, 
        &::after {
            box-sizing: inherit;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
        }
        &--draw {
            transition: color 0.25s;
        }
        &--draw::before, 
        &--draw::after {
            border: 2px solid transparent;
            width: 0;
            height: 0;
        }
        &--draw::before {
            bottom: 0;
            right: 0;
        }
        &--draw::after {
            bottom: 0;
            right: 0;
        }
        &--draw:hover,
        &--draw:focus {
            color: $tertiaryColour;
        }
        &--draw:focus {
            outline: none;
        }
        &--draw:hover::before,
        &--draw:focus::before, 
        &--draw:hover::after,
        &--draw:focus::after {
            width: 100%;
            height: 100%;
        }
        &--draw:hover::before,
        &--draw:focus::before {
            border-bottom-color: $tertiaryColour;
            border-left-color: $tertiaryColour;
            transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
        }
        &--draw:hover::after,
        &--draw:focus::after {
            border-top-color: $tertiaryColour;
            border-right-color: $tertiaryColour;
            transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
        }
        &--meet:hover,
        &--meet:focus {
            color: $tertiaryColour;
        }
        &--meet::after {
            bottom: 0;
            right: 0;
        }
        &--meet:hover::before,
        &--meet:focus::before {
            border-bottom-color: $tertiaryColour;
            border-left-color: $tertiaryColour;
        }
        &--meet:hover::after,
        &--meet:focus::after {
            border-top-color: $tertiaryColour;
            border-right-color: $tertiaryColour;
            transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
        }
    }

    &__skipLink {
        position: absolute;
        left: -1000px;
        top: 5px;
        color: $white;
        text-align: center;
        &:focus {
            left: 0;
            right: 0;
            top: 0;
        }
    }
}
//HEADER STYLES ENDS HERE