//MAIN STYLES STARTS HERE
.about {
    background: $primaryColour;
}
.projects {
    background: $secondaryColour;
}
.skills {
    background: $tertiaryColour;
    .wrapper {
        padding: 100px 0;
        position: relative;
    }
    &__title {
        @include fontHeaderSize(2rem);
        text-align: center;
        color: $secondaryColour;
    }
    &__title::before {
        content: 'skills';
        text-transform: uppercase;
        position: absolute;
        color: rgba(0,0,0,0.1);
        font-size: 2.5rem;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 50px;
        margin-top: 50px;
    }
    &__item {
        text-align: center;
        font-size: 3rem;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
    &__item:hover & {
        &__text::first-letter {
            padding-left: 5px;
            border-left: 5px solid $white;
        }
    }

    &__text {
        @include fontBaseSize(0.9rem);
        margin-top: 10px;
        color: $white;
        text-transform: uppercase;
    }
}
.contact {
    background: $quaternaryColour;
    .wrapper {
        padding: 100px 0;
        position: relative;
    }
    &__title {
        @include fontHeaderSize(2rem);
        text-align: center;
        color: $secondaryColour;
        z-index: 10;
    }
    &__title::before {
        content: 'get in touch';
        text-transform: uppercase;
        position: absolute;
        color: rgba(0,0,0,0.1);
        font-size: 2.5rem;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__content {
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__formCell {
        margin-bottom: 25px;
    }
    &__input {
        margin-top: 10px;
        padding: 5px;
        &:hover {
            opacity: 0.8;
        }
        &:focus {
            border-radius: 5px;
            background: $white;
            color: $black;
            opacity: 1;
            border-bottom: 2px solid transparent;
        }
        &--name {
            width: 100%;
            background: none;
            border: none;
            border-bottom: 2px solid $black;
            opacity: 0.5;
            color: $white;
        }
        &--email {
            @extend .contact__input--name;
        }
        &--message {
            @extend .contact__input--name;
            resize: none;
        }
    }
    &__submit {
        background: none;
        border: 1px solid $black;
        color: $white;
        opacity: 0.5;
        padding: 5px 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}
//MAIN STYLES ENDS HERE