//MAIN STYLES STARTS HERE
.main {
    .wrapper {
        padding: 100px 0;
        position: relative;
        z-index: 1;
    }
    .about,
    .projects,
    .skills,
    .contact {
        &__title {
            @include fontHeaderSize(2rem);
            text-align: center;
            @include res960 {
                font-size: 1.6rem;
            }
            @include res730 {
                font-size: 1.2rem;
            }
            @include res600 {
                font-size: 1rem;
            }
            @include res535 {
                font-size: 1.3rem;
            }
        }
        &__title::before {
            text-transform: uppercase;
            position: absolute;
            z-index: -1;
            color: rgba(0,0,0,0.2);
            font-size: 2.5rem;
            top: 70px;
            left: 50%;
            transform: translateX(-50%);
            @include res960 {
                font-size: 1.8rem;
                top: 80px;
            }
            @include res730 {
                font-size: 1.4rem;
                top: 85px;
            }
            @include res600 {
                font-size: 1.2rem;
            }
            @include res535 {
                display: none;
            }
        }
    }
}
.about {
    background: $primaryColour;
    &__title {
        color: $secondaryColour;
    }
    &__title::before {
        content: 'about me';
    }
    &__content {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        @include res1250 {
            flex-direction: column;
            align-items: center;
        }
    }
    &__imageContainer {
        width: 25%;
        @include res1250 {
            margin-bottom: 20px;
        }
        @include res960 {
            width: 30%;
        }
        @include res730 {
            width: 50%;
        }
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__description {
        @include fontBaseSize(1.2rem);
        width: 45%;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include res1110 {
            font-size: 1rem;
            width: 75%;
        }
        @include res600 {
            font-size: 0.9rem;
        }
        @include res400 {
            font-size: 0.8rem;
        }
    }
    &__text {
        margin-bottom: 20px;
        &::first-letter {
            text-transform: capitalize;
        }
    }
}
.projects {
    background: $secondaryColour;
    &__title {
        color: $primaryColour;
    }
    &__title::before {
        content: 'projects';
    }
    &__container {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        @include res1110 {
            flex-direction: column;
            align-items: center;
        }
    }
    &__container:nth-of-type(even) & {
        &__imageContainer {
            order: 1;
            @include res1110 {
                order: initial;
            }
        }
        &__image:nth-of-type(2) {
            left: -20px;
        }
        &__link:hover,
        &__link:focus {
            box-shadow: -5px 5px $primaryColour;
        }
    }
    &__container:nth-of-type(2) & {
        &__toolItem:nth-of-type(6) {
            text-transform: uppercase;
        }
    }
    &__container:nth-of-type(4) & {
        &__toolItem:nth-of-type(4) {
            text-transform: uppercase;
        }
    }
    &__imageContainer {
        width: 40%;
        position: relative;
        @include res730 {
            width: 60%;
        }
        @include res535 {
            width: 80%;
        }
    }
    &__image {
        &:nth-child(2) {
            width: 20%;
            position: absolute;
            bottom: 0;
            right: -20px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        @include res1110 {
            width: 50%;
            margin: 20px 0;
        }
        @include res730 {
            width: 80%;
        }
    }
    &__heading {
        @include fontHeaderSize(1.4rem);
        text-transform: capitalize;
        margin-bottom: 20px;
        @include res1110 {
            text-align: center;
        }
        @include res730 {
            font-size: 1.2rem;
        }
    }
    &__headingInner {
        text-transform: uppercase;
    }
    &__description {
        @include fontBaseSize(1rem);
        &::first-letter {
            text-transform: capitalize;
        }
        @include res730 {
            font-size: 0.9rem;
        }
    }
    &__toolsList {
        @include fontBaseSize(0.9rem);
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        text-transform: capitalize;
        color: $primaryColour;
        @include res1110 {
            justify-content: center;
        }
        @include res730 {
            font-size: 0.8rem;
        }
    }
    &__toolItem {
        border-left: 2px solid $black;
        &:nth-child(1),
        &:nth-child(2) {
            text-transform: uppercase;
        }
        &:first-child {
            border: none;
        }
    }
    &__toolItem:first-child & {
        &__text {
            padding-left: 0;
        }
    }
    &__toolItem:last-child & {
        &__text {
            padding-right: 0;
        }
    }
    &__text {
        padding: 0 10px;
    }
    &__linksList {
        @include fontBaseSize(1rem);
        display: flex;
        margin-top: 5px;
        @include res1110 {
            justify-content: center;
        }
        @include res1110 {
            font-size: 0.8rem;
        }
    }
    &__linkItem {
        margin: 0 10px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        text-transform: capitalize;
        background: $black;
        color: $white;
        padding: 10px 20px;
        transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        @include res1110 {
            padding: 10px 50px;
        }
        @include res960 {
            padding: 10px 30px;
        }
        &:hover,
        &:focus {
            color: $tertiaryColour;
            text-shadow: 1px 1px 1px $quaternaryColour;
            box-shadow: 5px 5px $primaryColour;
        }
    }
}
.skills {
    background: $tertiaryColour;
    &__title {
        color: $black;
    }
    &__title::before {
        content: 'skills';
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 50px;
        margin-top: 50px;
        @include res960 {
            grid-gap: 50px 10px;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }
    }
    &__item {
        text-align: center;
        font-size: 3rem;
    }
    &__item:hover & {
        &__text::first-letter {
            padding-left: 5px;
            border-left: 5px solid $white;
        }
    }

    &__text {
        @include fontBaseSize(0.9rem);
        margin-top: 10px;
        color: $black;
        text-transform: uppercase;
        opacity: 1;
        @include res960 {
            font-size: 0.8rem;
        }
    }
}
.contact {
    background: $quaternaryColour;
    &__title {
        color: $secondaryColour;
    }
    &__title::before {
        content: 'get in touch';
    }
    &__content {
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
    }
    &__form {
        @include fontBaseSize(1rem);
        display: flex;
        flex-direction: column;
        @include res730 {
            width: 75%;
            font-size: 0.8rem;
        }
    }
    &__formCell {
        margin-bottom: 25px;
        color: $white;
    }
    &__input {
        margin-top: 10px;
        padding: 5px;
        &:hover {
            color: $white;
        }
        &:focus {
            border-radius: 5px;
            background: $white;
            color: $black;
            border-bottom: 2px solid transparent;
        }
        &--name {
            width: 100%;
            background: none;
            border: none;
            border-bottom: 2px solid $secondaryColour;
            color: $white;
        }
        &--email {
            @extend .contact__input--name;
        }
        &--message {
            @extend .contact__input--name;
            resize: none;
        }
    }
    &__submit {
        background: none;
        border: 1px solid $secondaryColour;
        color: $white;
        // opacity: 0.8;
        padding: 5px 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        // &:hover,
        // &:focus {
        //     opacity: 1;
        // }
    }
}
//MAIN STYLES ENDS HERE