//MIXINS STARTS HERE
@mixin fontHeaderSize($headerSizeValue) {
    font-size: $headerSizeValue;
    font-family: 'Comfortaa', cursive;
}
@mixin fontBaseSize($baseSizeValue) {
    font-size: $baseSizeValue;
    font-family: 'Montserrat', sans-serif;
}
//MIXINS ENDS HERE

//COLOUR VARIABLES STARTS HERE
$primaryColour: #1f538d;
$secondaryColour: #fee265;
$tertiaryColour: #df6f3f;
$quinaryColour: #3d9d72;
$black: #000;
$white: #fff;
//COLOUR VARIABLES ENDS HERE