article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%; }

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
span,
a {
  padding: 0;
  margin: 0; }

img {
  display: block;
  width: 100%; }

a {
  text-decoration: none; }

ul li {
  list-style-type: none; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto; }

.header {
  background: #000;
  color: #FFF;
  padding-top: 20px;
  min-height: 100vh; }
  .header__navList {
    font-size: 1rem;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 25%;
    right: -150px; }
    @media (max-width: 960px) {
      .header__navList {
        right: -125px;
        font-size: 0.8rem; } }
  .header__navItem {
    width: 100%; }
  .header__navItem:first-child .header__link {
    margin-top: 0; }
  .header__navItem:last-child .header__link {
    margin-bottom: 0; }
  .header__link {
    border-bottom: 2px solid #FFF;
    margin: 20px 0;
    padding: 5px;
    background: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    letter-spacing: 2px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    right: 0;
    color: #FFF;
    text-transform: uppercase;
    -webkit-transition: right 0.5s ease-in-out, color 0.3s ease-in-out;
    -o-transition: right 0.5s ease-in-out, color 0.3s ease-in-out;
    transition: right 0.5s ease-in-out, color 0.3s ease-in-out; }
    .header__link:hover, .header__link:focus {
      color: #DE6C3B; }
    .header__link:hover {
      right: 150px; }
      @media (max-width: 960px) {
        .header__link:hover {
          right: 125px; } }
    .header__link:focus {
      position: initial;
      outline: none; }
  .header__linkText {
    padding-left: 20px; }
  .header__content {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    position: relative; }
  .header__name {
    font-size: 2rem;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    letter-spacing: 5px; }
    @media (max-width: 960px) {
      .header__name {
        font-size: 1.6rem; } }
    @media (max-width: 730px) {
      .header__name {
        font-size: 1.2rem; } }
    @media (max-width: 600px) {
      .header__name {
        font-size: 1rem; } }
    @media (max-width: 535px) {
      .header__name {
        font-size: 1.3rem; } }
  .header__name::before {
    content: 'vincent dang';
    text-transform: uppercase;
    position: absolute;
    color: rgba(255, 255, 255, 0.2);
    font-size: 2.5rem;
    z-index: -1;
    top: 31%;
    left: 50%;
    -webkit-transform: translate(-50%, -31%);
    -ms-transform: translate(-50%, -31%);
    transform: translate(-50%, -31%); }
    @media (max-width: 960px) {
      .header__name::before {
        font-size: 1.8rem;
        top: 33%;
        -webkit-transform: translate(-50%, -33%);
        -ms-transform: translate(-50%, -33%);
        transform: translate(-50%, -33%); } }
    @media (max-width: 730px) {
      .header__name::before {
        font-size: 1.4rem;
        top: 34%;
        -webkit-transform: translate(-50%, -34%);
        -ms-transform: translate(-50%, -34%);
        transform: translate(-50%, -34%); } }
    @media (max-width: 600px) {
      .header__name::before {
        font-size: 1.2rem;
        top: 34%;
        -webkit-transform: translate(-50%, -34%);
        -ms-transform: translate(-50%, -34%);
        transform: translate(-50%, -34%); } }
    @media (max-width: 535px) {
      .header__name::before {
        display: none; } }
  .header__description {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.5); }
    @media (max-width: 960px) {
      .header__description {
        font-size: 0.8rem; } }
  .header__scrollLink {
    color: #FFF;
    font-size: 1rem;
    margin-top: 100px;
    letter-spacing: 5px;
    position: relative;
    padding: 20px 15px 20px 20px;
    border: 1px solid rgba(255, 255, 255, 0.5); }
    @media (max-width: 730px) {
      .header__scrollLink {
        font-size: 0.8rem; } }
    .header__scrollLink::before, .header__scrollLink::after {
      -webkit-box-sizing: inherit;
      box-sizing: inherit;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%; }
    .header__scrollLink--draw {
      -webkit-transition: color 0.25s;
      -o-transition: color 0.25s;
      transition: color 0.25s; }
    .header__scrollLink--draw::before, .header__scrollLink--draw::after {
      border: 2px solid transparent;
      width: 0;
      height: 0; }
    .header__scrollLink--draw::before {
      bottom: 0;
      right: 0; }
    .header__scrollLink--draw::after {
      bottom: 0;
      right: 0; }
    .header__scrollLink--draw:hover, .header__scrollLink--draw:focus {
      color: #DE6C3B; }
    .header__scrollLink--draw:focus {
      outline: none; }
    .header__scrollLink--draw:hover::before, .header__scrollLink--draw:focus::before, .header__scrollLink--draw:hover::after, .header__scrollLink--draw:focus::after {
      width: 100%;
      height: 100%; }
    .header__scrollLink--draw:hover::before, .header__scrollLink--draw:focus::before {
      border-bottom-color: #DE6C3B;
      border-left-color: #DE6C3B;
      -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
      -o-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
      transition: width 0.25s ease-out, height 0.25s ease-out 0.25s; }
    .header__scrollLink--draw:hover::after, .header__scrollLink--draw:focus::after {
      border-top-color: #DE6C3B;
      border-right-color: #DE6C3B;
      -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
      -o-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
      transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s; }
    .header__scrollLink--meet:hover, .header__scrollLink--meet:focus {
      color: #DE6C3B; }
    .header__scrollLink--meet::after {
      bottom: 0;
      right: 0; }
    .header__scrollLink--meet:hover::before, .header__scrollLink--meet:focus::before {
      border-bottom-color: #DE6C3B;
      border-left-color: #DE6C3B; }
    .header__scrollLink--meet:hover::after, .header__scrollLink--meet:focus::after {
      border-top-color: #DE6C3B;
      border-right-color: #DE6C3B;
      -webkit-transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
      -o-transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
      transition: height 0.25s ease-out, width 0.25s ease-out 0.25s; }
  .header__skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    color: #FFF;
    text-align: center; }
    .header__skipLink:focus {
      left: 0;
      right: 0;
      top: 0; }

.main .wrapper {
  padding: 100px 0;
  position: relative;
  z-index: 0; }
  @media (max-width: 535px) {
    .main .wrapper {
      padding: 50px 0; } }

.main .about__title,
.main .projects__title,
.main .skills__title,
.main .contact__title {
  font-size: 2rem;
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  text-align: center; }
  @media (max-width: 960px) {
    .main .about__title,
    .main .projects__title,
    .main .skills__title,
    .main .contact__title {
      font-size: 1.6rem; } }
  @media (max-width: 730px) {
    .main .about__title,
    .main .projects__title,
    .main .skills__title,
    .main .contact__title {
      font-size: 1.2rem; } }
  @media (max-width: 600px) {
    .main .about__title,
    .main .projects__title,
    .main .skills__title,
    .main .contact__title {
      font-size: 1rem; } }
  @media (max-width: 535px) {
    .main .about__title,
    .main .projects__title,
    .main .skills__title,
    .main .contact__title {
      font-size: 1.3rem; } }

.main .about__title::before,
.main .projects__title::before,
.main .skills__title::before,
.main .contact__title::before {
  text-transform: uppercase;
  position: absolute;
  z-index: -1;
  color: rgba(0, 0, 0, 0.2);
  font-size: 2.5rem;
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  @media (max-width: 960px) {
    .main .about__title::before,
    .main .projects__title::before,
    .main .skills__title::before,
    .main .contact__title::before {
      font-size: 1.8rem;
      top: 80px; } }
  @media (max-width: 730px) {
    .main .about__title::before,
    .main .projects__title::before,
    .main .skills__title::before,
    .main .contact__title::before {
      font-size: 1.4rem;
      top: 85px; } }
  @media (max-width: 600px) {
    .main .about__title::before,
    .main .projects__title::before,
    .main .skills__title::before,
    .main .contact__title::before {
      font-size: 1.2rem; } }
  @media (max-width: 535px) {
    .main .about__title::before,
    .main .projects__title::before,
    .main .skills__title::before,
    .main .contact__title::before {
      display: none; } }

.about {
  background: #1A477A; }
  .about__title {
    color: #FEE265; }
  .about__title::before {
    content: 'about me'; }
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 50px; }
    @media (max-width: 1250px) {
      .about__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .about__imageContainer {
    width: 25%; }
    @media (max-width: 1250px) {
      .about__imageContainer {
        margin-bottom: 20px; } }
    @media (max-width: 960px) {
      .about__imageContainer {
        width: 30%; } }
    @media (max-width: 730px) {
      .about__imageContainer {
        width: 50%; } }
  .about__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .about__description {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    width: 45%;
    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-width: 1110px) {
      .about__description {
        font-size: 1rem;
        width: 75%; } }
    @media (max-width: 600px) {
      .about__description {
        font-size: 0.9rem; } }
    @media (max-width: 400px) {
      .about__description {
        font-size: 0.8rem; } }
  .about__text {
    margin-bottom: 20px; }
    .about__text::first-letter {
      text-transform: capitalize; }

.projects {
  background: #FEE265; }
  .projects__title {
    color: #1A477A; }
  .projects__title::before {
    content: 'projects'; }
  .projects__container {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    @media (max-width: 1110px) {
      .projects__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .projects__container:nth-of-type(even) .projects__imageContainer {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
    @media (max-width: 1110px) {
      .projects__container:nth-of-type(even) .projects__imageContainer {
        -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
        order: initial; } }
  .projects__container:nth-of-type(even) .projects__image:nth-of-type(2) {
    left: -20px; }
  .projects__container:nth-of-type(even) .projects__link:hover, .projects__container:nth-of-type(even) .projects__link:focus {
    -webkit-box-shadow: -5px 5px #1A477A;
    box-shadow: -5px 5px #1A477A; }
  .projects__container:nth-of-type(2) .projects__toolItem:nth-of-type(6) {
    text-transform: uppercase; }
  .projects__container:nth-of-type(4) .projects__toolItem:nth-of-type(4) {
    text-transform: uppercase; }
  .projects__imageContainer {
    width: 40%;
    position: relative; }
    @media (max-width: 730px) {
      .projects__imageContainer {
        width: 60%; } }
    @media (max-width: 535px) {
      .projects__imageContainer {
        width: 80%; } }
  .projects__image:nth-child(2) {
    width: 20%;
    position: absolute;
    bottom: 0;
    right: -20px; }
  .projects__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40%; }
    @media (max-width: 1110px) {
      .projects__content {
        width: 50%;
        margin: 20px 0; } }
    @media (max-width: 730px) {
      .projects__content {
        width: 80%; } }
  .projects__heading {
    font-size: 1.4rem;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    text-transform: capitalize;
    margin-bottom: 20px; }
    @media (max-width: 1110px) {
      .projects__heading {
        text-align: center; } }
    @media (max-width: 730px) {
      .projects__heading {
        font-size: 1.2rem; } }
  .projects__headingInner {
    text-transform: uppercase; }
  .projects__description {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif; }
    .projects__description::first-letter {
      text-transform: capitalize; }
    @media (max-width: 730px) {
      .projects__description {
        font-size: 0.9rem; } }
  .projects__toolsList {
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 20px 0;
    text-transform: capitalize;
    color: #1A477A; }
    @media (max-width: 1110px) {
      .projects__toolsList {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    @media (max-width: 730px) {
      .projects__toolsList {
        font-size: 0.8rem; } }
  .projects__toolItem {
    border-left: 2px solid #000; }
    .projects__toolItem:nth-child(1), .projects__toolItem:nth-child(2) {
      text-transform: uppercase; }
    .projects__toolItem:first-child {
      border: none; }
  .projects__toolItem:first-child .projects__text {
    padding-left: 0; }
  .projects__toolItem:last-child .projects__text {
    padding-right: 0; }
  .projects__text {
    padding: 0 10px; }
  .projects__linksList {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px; }
    @media (max-width: 1110px) {
      .projects__linksList {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    @media (max-width: 1110px) {
      .projects__linksList {
        font-size: 0.8rem; } }
  .projects__linkItem {
    margin: 0 10px; }
    .projects__linkItem:first-child {
      margin-left: 0; }
    .projects__linkItem:last-child {
      margin-right: 0; }
  .projects__link {
    text-transform: capitalize;
    background: #000;
    color: #FFF;
    padding: 10px 20px;
    -webkit-transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out; }
    @media (max-width: 1110px) {
      .projects__link {
        padding: 10px 50px; } }
    @media (max-width: 960px) {
      .projects__link {
        padding: 10px 30px; } }
    .projects__link:hover, .projects__link:focus {
      color: #DE6C3B;
      text-shadow: 1px 1px 1px #AF3A26;
      -webkit-box-shadow: 5px 5px #1A477A;
      box-shadow: 5px 5px #1A477A; }

.skills {
  background: #DE6C3B; }
  .skills__title {
    color: #000; }
  .skills__title::before {
    content: 'skills'; }
  .skills__list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
    margin-top: 50px; }
    @media (max-width: 960px) {
      .skills__list {
        grid-gap: 50px 10px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); } }
  .skills__item {
    text-align: center;
    font-size: 3rem; }
  .skills__item:hover .skills__text::first-letter {
    padding-left: 5px;
    border-left: 5px solid #FFF; }
  .skills__text {
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    color: #000;
    text-transform: uppercase;
    opacity: 1; }
    @media (max-width: 960px) {
      .skills__text {
        font-size: 0.8rem; } }

.contact {
  background: #AF3A26; }
  .contact__title {
    color: #FEE265; }
  .contact__title::before {
    content: 'get in touch'; }
  .contact__content {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .contact__form {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (max-width: 730px) {
      .contact__form {
        width: 75%;
        font-size: 0.8rem; } }
  .contact__formCell {
    margin-bottom: 25px;
    color: #FFF; }
  .contact__input {
    margin-top: 10px;
    padding: 5px;
    -webkit-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
    color: #FFF; }
    .contact__input:hover {
      color: #FEE265; }
    .contact__input:focus {
      border-radius: 5px;
      background: #FFF;
      color: #000;
      border-bottom: 2px solid transparent; }
    .contact__input--name, .contact__input--email, .contact__input--message {
      width: 100%;
      background: none;
      border: none;
      border-bottom: 2px solid #FEE265; }
    .contact__input--message {
      resize: none; }
  .contact__submit {
    background: none;
    border: 1px solid #FEE265;
    color: #FFF;
    padding: 5px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: color 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
    transition: color 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    transition: color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    transition: color 0.1s ease-in-out, box-shadow 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out; }
    .contact__submit:hover, .contact__submit:focus {
      -webkit-box-shadow: 5px 5px #FFF;
      box-shadow: 5px 5px #FFF; }

.footer {
  background: #1A477A; }
  .footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0; }
  .footer__socialList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px; }
  .footer__socialIcon {
    margin: 0 20px; }
  .footer__link {
    font-size: 1.6rem;
    color: #FFF;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; }
    @media (max-width: 400px) {
      .footer__link {
        font-size: 1.2rem; } }
    .footer__link:hover {
      color: #FEE265; }
    .footer__link:hover .fab {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      text-shadow: 2px 2px 1px #000; }
    .footer__link .fab {
      -webkit-transition: -webkit-transform 0.3s ease-in-out;
      transition: -webkit-transform 0.3s ease-in-out;
      -o-transition: transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
  .footer__text {
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    text-align: center;
    text-transform: capitalize; }
    @media (max-width: 400px) {
      .footer__text {
        font-size: 0.8rem; } }
